# Proyek Analisis Data: Bike Sharing Dataset
- **Nama:** Rama Almer Felix
- **Email:** ramaalmerfelix@gmail.com
- **ID Dicoding:** ramag123

## Menentukan Pertanyaan Bisnis

- Pertanyaan 1: Bagaimana tren penyewaan sepeda berkaitan dengan kondisi cuaca (suhu, kelembapan, kecepatan angin)?
- Pertanyaan 2: Apakah ada perbedaan pola penyewaan sepeda pada hari kerja dan akhir pekan?
- Pertanyaan 3: Apakah ada perbedaan pola penyewaan sepeda berdasarkan musim?
- Pertanyaan 4: Bagaimana pengaruh hari libur terhadap penyewaan sepeda?

## Import Semua Packages/Library yang Digunakan

Dalam tahap ini, kita akan mengimpor semua library yang diperlukan untuk menganalisis dan memvisualisasikan data pada dataset 'Bike Sharing'. Berikut adalah library yang kita gunakan:

- `pandas`: Untuk manipulasi dan analisis data. Library ini memungkinkan kita untuk bekerja dengan data dalam format tabel, yang sangat berguna dalam menangani dataset seperti 'Bike Sharing'.
- `numpy`: Untuk operasi matematika dan manipulasi array. Library ini mendukung perhitungan numerik dan operasi pada array data.
- `matplotlib.pyplot` dan `seaborn`: Untuk membuat visualisasi data yang informatif dan menarik. Kedua library ini sangat populer dalam pembuatan grafik dan visualisasi data.
- `scipy.stats`: Untuk melakukan analisis statistik. Ini memungkinkan kita untuk menerapkan metode statistik untuk menganalisis dan menginterpretasikan data.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

## Data Wrangling
Proses Data Wrangling meliputi serangkaian tugas yang bertujuan untuk mengubah dan memetakan data dari bentuk "mentah" ke format lain yang lebih berguna dan dapat diakses. Ini adalah langkah penting dalam pipeline analisis data yang melibatkan pengumpulan, pembersihan, dan konsolidasi data.

### Gathering Data
`Gathering Data` atau Pengumpulan Data adalah langkah awal dalam Data Wrangling di mana kita mengumpulkan semua data yang diperlukan untuk analisis kita. Ini termasuk membuka file, mengakses database, atau mengumpulkan data dari API. Dalam proyek ini, kita akan memulai dengan membuka dan memuat dua set data utama yang tersedia: data harian (`day.csv`) dan data per jam (`hour.csv`).

#### Membuka data harian
Dalam bagian ini, kita membuka dataset harian (`day.csv`), yang memberikan informasi tentang total penyewaan sepeda setiap hari. Dataset ini berguna untuk analisis tren dan pola pada skala harian, mingguan, atau musiman. Dengan menggunakan data ini, kita bisa memahami bagaimana faktor-faktor seperti cuaca, hari libur, dan musim mempengaruhi penyewaan sepeda.

In [5]:
daily_data_path = 'data/day.csv'
daily_bike_sharing_data = pd.read_csv(daily_data_path)
daily_bike_sharing_data.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

#### Membuka Dataset Per Jam

Kemudian, kita membuka dataset per jam (`hour.csv`), yang menyediakan data penyewaan sepeda dengan detail per jam. Dataset ini akan berguna jika kita ingin melakukan analisis yang lebih rinci pada level intrahari, seperti memahami pola penyewaan sepeda selama jam-jam tertentu dalam sehari. Ini membantu dalam mengeksplorasi aspek-aspek seperti jam sibuk, pola penyewaan pada jam kerja vs akhir pekan, dan pengaruh cuaca per jam.

### Assessing Data

In [7]:
# Load the hourly bike sharing dataset
hourly_data_path = 'data/hour.csv'  # Replace with the actual path
hourly_bike_sharing_data = pd.read_csv(hourly_data_path)
hourly_bike_sharing_data.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

### Cleaning Data

## Exploratory Data Analysis (EDA)

### Explore ...

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2